@charset "UTF-8";

.vl {
	border-right: 8px solid #46CA46;
	height: 100%;
	position: absolute;
	left: 97%;
	margin-left: -3px;
	top: 0;
}

body {
	background-color: #FFFFF0;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.6;
	font-size: 1.5em;
}

.container {
	display: inline-block;
	text-align: center;
}